@media screen and (max-width: 769px) {
  nav {
    font-size: 30px;
  }
  .switch-panels {
    flex-wrap: wrap;
  }
  .col {
    display: flex;
    width: 100vw;
    height: 18.6vh;
    flex-direction: column;
    z-index: 100;
  }
}
